h1 {
    color: crimson;
    background-color: aqua;
}
body{
    background-image: url("./grass.jpg");
    border: 2px solid red;
}
main{
    background-color: aqua;
    border: 1px solid green;
}

nav{
    background-color: dodgerblue;
    display: flex;
    align-items: center;
    padding: 10px;
}
