h1 {
    color: crimson;
    background-color: aqua;
}
body{
    background-image: url("./grass.jpg");
    border: 2px solid red;
}
main{
    background-color: aqua;
    border: 1px solid green;
}

nav{
    background-color: dodgerblue;
    display: flex;
    align-items: center;
    padding: 10px;
}

.container>div {
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(207, 232, 220);
    border: 2px solid rgb(79, 185, 227);
    text-align: center;
}


.container {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    height: 800px;
    width: 800px;
    gap: 20px;
}

#topleftgreen{
    grid-column-start: 1;  
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    border-color: green;
}
#yellow1{
    grid-column-start: 3;  
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    border-color: yellow;
}
#red1{
    grid-column-start: 4;  
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    border-color: red;
}
#yellow2{
    grid-column-start: 1;  
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    border-color: yellow;

}
#red2{
    grid-column-start: 1;  
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
    border-color: red;

}
#green2{
    grid-column-start: 3;  
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    border-color: green;
}
