h1 {
    color: crimson;
    background-color: aqua;
    
}
body{
    background-image: url("./grass.jpg")
    border: 1px solid green;
}
main{
    background-color: aqua;
    border: 1px solid green;
}
nav{
    background-color: dodgerblue;
}
